<h1>Our Vans</h1>

<ul>
  <% @vans.each do |van| %>
    <li>
      <%= link_to(van.model, vans_path(van)) %>
    </li>
  <% end %>
</ul>
<h1>Vans#index</h1>
<p>Find me in app/views/vans/index.html.erb</p>
