.need_help {
  width: 900px;
  margin: 50px auto;
  text-align: center;

    h1 {
      font-size: 2rem;
      padding-bottom: 16px;
      }

    .btn-discover {
    text-align: start;
    padding: 16px 24px;
    border-radius: 16px;      text-decoration: none;
    background-color: #00F4A1;
    color: #120326;
    font-size: 1.25rem;
    font-weight: 600;
    }
}
