<div class="need_help">
<h1> Non mais sérieusement, vous avez vraiment besoin d'aide ??</h1>
<h1> Alors on arrête un peu le <strong>bullshit</strong> et on va reserver !</h1>
<%= link_to "Voir les vans", vans_path, {class: "btn-discover"} %>
</div>
