<nav class="nav-mobile">
  <div class="nav-mobile-d-flex">
    <div class="right box-nav active">
      <i class="fas fa-search"></i>
      <h4>Explorer</h4>
    </div>
    <div class="center box-nav">
      <i class="far fa-heart"></i>
      <h4>Favoris</h4>
    </div>
    <div class="left box-nav">
      <i class="fas fa-user-circle"></i>
      <h4>Connexion</h4>
    </div>
  </div>
</nav>
