<div class="home">
  <div class="banner">
    <div class="title section-banner">
      <h1 class="title-home">Vancation</h1>
    </div>
    <div class="description section-banner">
      <p class="description-home">Louez un camping-car, fourgon ou van aménagé et voyagez dans toute l'Europe !</p>
    </div>
    <%= link_to 'Decouvrez les différents vans', vans_path, class: "btn-discover"%>
  </div>
  <div class="container container box-svg-1">
    <div class="dflex-container">
      <div class="right-home-info home-info">
        <h1>L'esprit van</h1>
        <p>Laissez nous deviner… Vous avez envie de vous évader le temps d’un week-end, d’une semaine… ou de partir en road trip en France, en Europe, ou sur nos magnifiques territoires d’Outre mer plus longtemps encore ? Vous êtes en quête d’originalité, de différence… de nouveauté ? Vous aspirez à l’imprévu, à l’aventure… à la liberté ? Avez-vous pensé à la location d’un van aménagé (ou campervan) ? A un road trip à bord d’un véhicule totalement autonome, combi California à toit relevable ou fourgon aménagé, pour découvrir une nouvelle forme de liberté et de voyage ? Bienvenue chez Vancation, spécialiste des vacances itinérantes et séjours nomades !</p>
      </div>
      <div class="left-home-info home-info">
      </div>
    </div>
  </div>
  <div class="container container">
    <div class="box-flex-column">
      <div class="box-svg box-svg-1">
        <div class="box-number">
          <p>1</p>
        </div>
      </div>
      <div class="box-title">
        <p>Louer un vehicule</p>
      </div>
    </div>
    <div class="box-flex-column">
      <div class="box-svg box-svg-2">
        <div class="box-number">
          <p>2</p>
        </div>
      </div>
      <div class="box-title">
        <p>Profitez de vos vacances</p>
      </div>
    </div>
    <div class="box-flex-column">
      <div class="box-svg box-svg-3">
        <div class="box-number">
          <p>3</p>
        </div>
      </div>
      <div class="box-title">
        <p>Donnez votres avis sur le van</p>
      </div>
    </div>
  </div>
</div>
