

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 50%;
  margin-top: 10px;
  padding: 0px;
  height: 350px;
  transition: 0.6s;
}

.card-trip:hover {
  transform: translateY(-15px);
  transition: 0.6s;
  height: 450px;
}

.card-trip > .card-category {
  height: 200px;
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 3px 3px 0 0;
}



.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin-bottom: 20px;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

li {
  list-style: none;
}

.card-trip-infos {
  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
   .title{
    font-size: 25px;
    margin: 0;
  }
}

.button-view-details {
  height: 50px;
  width: 176px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
  padding: 15px 15px;
  margin-top: 20px;
}

.button-view-details:hover {
    background-color: #79b0a1;

}

.container-index-vans {
  text-align: start;
  padding: 20px;
}

.title-van {
  margin-bottom: 30px;
  margin-left: 0;
}

ul {
  padding: 0;
}
