.nav-desktop {
  height: 80px;
  width: 100%;
  padding: 0 100px;
  background-color: $color-1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color-3;

  .left {

    .logo {
      width: 100px;
      transform: scale(4);
    }
  }

  .center {

    .nav-items {
      padding: 0;
      margin: 0;

      .item {
        list-style: none;
        display: inline-block;
        margin: 0 8px;

        a {
          text-decoration: none;
          color: $color-3;
        }
      }
    }
  }

  .right {

    .container-user {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      border-radius: 20px;
      height: 50px;
      width: auto;
      background-color: $vert;
      transition: 1s ease-in-out;

      .fas {
        color: $color-1;
        margin-right: 8px;
        cursor: pointer;
        transition: 1s ease-in-out;

        &:hover {
          transform: scale(1.1);
          transition: 1s ease-in-out;
        }
      }

      .log {
        .log-d-flex {
          position: absolute;
          top: 80px;
          right: 40px;
          display: flex;
          align-items: center;
          flex-direction: column;
          border: 1px solid $color-1;
          background-color: $vert;
          border-radius: 8px;

          .deconection {
            border-top: 1px solid $color-1;
          }

          .item-log {
            height: 30px;
            width: 200px;
            text-align: start;
            display: flex;
            align-items: center;
            padding: 0 16px;
            transition: 1s ease-in-out;
            cursor: pointer;

            &.item-log:hover {
              transition: 1s ease-in-out;
            }

            .btn-log {
              text-decoration: none;
              color: $color-1;
              font-size: 16px;
              margin: 0;
            }
          }
        }
      }

      .avatar {
        height: 30px;
        width: 30px;
        background-color: $color-1;
        margin-left: 8px;
      }
    }
  }
}

.nav-mobile {
  display: none;

  .nav-mobile-d-flex {
    border-top: 1px solid $color-3;
    bottom: 0;
    background-color: $color-1;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .box-nav {
      height: 100%;
      width: 20%;
      color: $color-3;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 1s ease-in-out;

      &:hover i {
        color: $vert;
        transform: scale(1.9);
        transition: 1s ease-in-out;
      }

      h4 {
        margin: 8px;
        font-weight: 100;
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 800px) {
  .nav-items {
    display: none;
  }

  .nav-mobile {
    display: block;
  }
}

@media (max-width: 500px) {
  .nav-desktop {
    padding: 0 40px;
  }
}
